doctype html
html
    head
        title Pratik's Dance Academy
        block scripts
        block style
    Body 
        nav#navbar
            div#logo
                img(src="/static/logo.png")
            ul
                li #[a(href="/") Home]  
                li #[a(href="/") About]  
                li #[a(href="/") Services]  
                li #[a(href="/") Class Info]  
                li #[a(href="/contact") Contact Us] 
        block content 
        block foot 
            footer#footer
                | © 2019 Pratik's Dance Academy | All Rights Reserved



